/*** generics ***/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.2rem;
}

img {
    width: 100%;
}

/*** utilities ***/

.flex {
    display: flex;
}

.row-reverse {
    flex-direction: row-reverse;
}


/*** content ***/

.contenitore {
    display: flex;
    flex-direction: column;
}


/* header */

header {
    background-image: url('../images/jumbo.png');
    background-size: cover;
}

/* menu navigazione */

.contenitore-nav {
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
}


nav ul {
    list-style-type: none;
}

nav ul a {
    text-decoration: none;
    color: white;
}

nav ul li {
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.link-vari {
    display: flex;
    justify-content: center;
    font-size: 1rem;
}

.accedi {
    display: flex;
    align-items: center;
    color: black;
    background-color: white;
    border-radius: 30px;
    padding: 10px 15px;
    border: none;
}

/* contenuto intestazione */

.contenitore-intestazione {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    padding: 60px 200px 60px 200px;
}

.contenitore-intestazione h1 {
    margin-bottom: 33px;
}

.contenitore-intestazione p {
    line-height: 25px;
    font-size: 1rem;
    margin: 0 27px;
}

.bottoni-intestazione {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

.accedi-scuro {
    display: flex;
    align-items: center;
    color: white;
    background-color: #23272a;
    border-radius: 30px;
    padding: 10px 15px;
    border: none;
    margin-left: 30px;
}

/* fine header */



/* main */

main {
    display: flex;
    flex-direction: column;
}

/* contenuto base */

.contenuto-base {
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.contenitore-slide {
    display: flex;
    text-align: left;
    margin: 90px;
}

#img-content {
    width: 50%;
}

.didascalia-orizzontale {
    width: 50%;
    padding: 15px 60px;
}

.didascalia-orizzontale h2 {
    line-height: 35px;
    padding-bottom: 15px;
}

.didascalia-orizzontale p {
    line-height: 25px;
}


/* contenuto diverso */

.contenuto-diverso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
}


/* end main */


/* footer */

.footer {
    background-color: #23272a;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pre-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 250px;
    align-items: center;
}